[submodule "support/node_modules/mocha"]
	path = support/node_modules/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "support/node_modules/diff"]
	path = support/node_modules/diff
	url = https://github.com/kpdecker/jsdiff.git
[submodule "support/node_modules/debug"]
	path = support/node_modules/debug
	url = https://github.com/visionmedia/debug.git
[submodule "support/node_modules/chai"]
	path = support/node_modules/chai
	url = https://github.com/chaijs/chai.git
