# https://docs.travis-ci.com/user/languages/javascript-with-nodejs/
language: node_js
dist: trusty
node_js:
  - 8
  - 7
  - 6
  - 5
  - 4
sudo: false
before_script:
  - sh test/server-start.sh &
  - SERVER_PID=$!
  - sleep 1
after_script:
  - kill $SERVER_PID
script: "npm test && npm run-script lint"
cache:
  directories:
    - node_modules
