{
	"url": "http://phantomjs.org",
	"verbose": true,
	"log": "log/phantomjs.log",
	"block-domain": "google-analytics.com",
	"cookies": [
		{
			"name": "mobile",
			"value": "on",
			"domain": ".phantomjs.org"
		}
	],
	"asserts": {
		"requests": 12,
		"redirects": 0,
		"domains": 2,
		"timeToFirstByte": 600,
		"httpTrafficCompleted": 1000
	}
}
