{
	"url": "http://phantomjs.org",
	"verbose": true,
	"log": "log/phantomjs.log",
	"block-domain": "google-analytics.com",
	"cookies": [
		{
			"name": "mobile",
			"value": "on",
			"domain": ".phantomjs.org"
		}
	]
}
