name: Check if a Docker image can be built

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: |
        docker build . --tag ${{ github.repository }}
        docker images

    - name: Run tests inside the Docker container
      run: |
        docker run -it ${{ github.repository }} sh run_tests.sh
